*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/images/top-banner.png) no-repeat;

}
.about{
    width: 80%;
}
.holder{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.about h1{
    font-size: 50px;
}
.about .heading{
    color: orange;
}
/* .about p{
    padding-right: 2em;
} */
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 100%;
}
.hire_me{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
/* dream big */
#dreamBig{
   background: url(img/images/dream-bg.png) no-repeat right bottom;
    min-height: 100vh;
}
.cont{
    margin: 0 auto;
    width: 90%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faceOne{
    width: 50%;
    padding-right: 2em;
}
.faceOne img{
    width: 100%;
    height: auto;
}
.faceTwo{
    width: 50%;
}
.faceTwo h1{
    font-weight: 700;
    font-size: 50px;
}
.faceTwo a{
        text-decoration: none;
            background-image: linear-gradient(orange, tomato);
            color: white;
            font-weight: 700;
            padding: 10px 40px;
            border-radius: 5px;
}
/* experience */
#experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url(img/images/exp-bg.png) no-repeat left ;
}
#experience h1{
    font-size: 40px;
}
.contente{
    width: 90%;
    /* min-height: 100vh; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.halfe{
    position: relative;
    padding: 2em;
    display: flex;
    height: 23em;
    width: 50%;
    box-shadow: 2px 2px 10px 5px rgb(187, 187, 187);
}
.halfe .line{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
}
.halfe h3{
    color: orange;
}
.rig{
    margin-left: 4em;
}
.lone{
    background-color: rgb(241, 88, 65);
}
.ltwo{
    background-color: blue;
}
/* copy */
#copy{
    width: 100%;
    text-align: center;
    margin-bottom : 2em
}